@import './base.css';

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p.small {
  font-size: 1.4rem;
  line-height: 1.21;
}

a {
  text-decoration: none;
}

a:first-child {
  text-decoration: underline;
  color: var(--anchor-text);
  margin-left: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2rem;
}

nav > div {
  display: flex;
  align-items: center;
}

input {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.0;
  color: var(--input-text);
  background-color: var(--input-background);
  width: 100%;
  padding: 2rem 2.4rem;
  border: 1px solid var(--input-background);
  border-radius: 1.6rem;
  outline: none;
  transition: all .15s;
}

input::placeholder {
  color: var(--input-placeholder);
  opacity: 0.25;
}

input:focus {
  border: 1px solid var(--color-purple-400);
}

button {
  background-color: transparent;
  padding: 1rem;
  border: 0;
  outline: none;
}

.search {
  margin-bottom: 4.3rem;
}

.search button {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.search input.error {
  border-color: var(--color-red-400);
  position: relative;
}

.search::after {
  content: "Whoops, can't be empty...";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0;
  color: var(--color-red-400);
  transform: translateY(100%);
  opacity: 0;
  transition: all .3s;
}

.search:has(input.error)::after {
  transform: translateY(0);
  opacity: 1;
}

.container {
  max-width: 81.6rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.def-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.def-heading h1 {
  margin-bottom: 1.1rem;
}

.def-heading h2 {
  color: var(--color-purple-400);
}

.play {
  cursor: pointer;
}

.play circle, .play path {
  transition: all .15s;
}

.play:hover path {
  fill: var(--color-white-400);
}

.play:hover circle {
  opacity: 1.0;
}

.meaning h2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.meaning h2 span {
  flex-grow: 1;
  background-color: var(--hr-color);
  height: 1px;
  transform: translateY(0.3rem);
  transition: all .15s;
}

.meaning h3 {
  color: var(--color-gray-500);
  margin-bottom: 2.5rem;
}

.meaning ul {
  list-style: none;
  margin-bottom: 4rem;
}

.meaning li {
  position: relative;
  margin-bottom: 1.3rem;
  padding-left: 4.8rem;
}

.meaning li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 2.2rem;
  transform: translateY(-50%);
  background-color: var(--color-purple-400);
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.meaning li span {
  display: block;
  color: var(--color-gray-500);
  margin-top: 1.3rem;
}

.antonyms, .synonyms {
  margin-bottom: 4rem !important;
}

.antonyms span, .synonyms span {
  display: inline-block;
  margin-right: 2.2rem;
}

.antonyms button, .synonym button {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  color: var(--color-purple-400);
  border-bottom: 2px solid var(--body-background);
  padding: 0;
  cursor: pointer;
  transition: all .15s;
}

.antonyms button:hover, .synonym button:hover {
  border-color: var(--color-purple-400);
}

.footer-inner {
  padding-top: 1.9rem;
  border-top: 1px solid var(--hr-color);
}

footer p {
  display: flex;
  align-items: center;
  color: var(--color-gray-500);
}

@media (max-width: 639px) {
  body {
    padding: 2.4rem 0;
  }

  nav {
    margin-bottom: 2.4rem;
  }

  input {
    font-size: 1.6rem;
    padding: 1.4rem 2.4rem;
  }

  .container {
    padding: 0 2.4rem;
  }
}
